body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 90%; /* Adjusted to make it responsive */
  margin: 50px auto;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 20px; /* Added padding for better spacing */
}

input[type="text"],
button {
  margin: 10px 0; /* Adjusted margin */
  padding: 10px;
  width: 90%; /* Adjusted width */
  font-size: 16px; /* Slightly decreased font size for better fit */
  border-radius: 5px;
  border: 1px solid black;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.love,
.late {
  color: #45a049;
}

.calculate {
  color: brown;
}
